<!-- Messages details table -->
<div class="containter">
    <h2>Messages Management</h2>
    <div id="toolbarMessages" class="toolbar">
        <button id="addMessage" class="btn btn-light">
            <i class="fa fa-plus-circle"></i> Add </button>
        <button id="editMessage" class="btn btn-light" disabled>
            <i class="fa fa-edit"></i> Edit </button>
        <button id="removeMessage" class="btn btn-danger" disabled>
            <i class="fa fa-trash"></i> Delete </button>
        <div class="btn-group">
            <select id="screensSelect" class="btn btn-light" multiple="multiple"> </select>
            <button id="screensAssign" class="btn btn-primary" disabled>
                <i class="fas fa-desktop"></i> Assign </button>
        </div>
    </div>
    <table id="messagesTable" data-url="/manager/allMessages.json" data-toggle="table" data-search="true"
        data-auto-refresh="false" data-show-refresh="true" data-show-columns="true" data-show-columns-toggle-all="true"
        data-show-pagination-switch="true" data-show-fullscreen="true" data-detail-view="true"
        data-detail-formatter="detailFormatter" data-toolbar="#toolbarMessages" data-id-field="messageName"
        data-select-item-name="messageName" data-maintain-meta-data="true" data-unique-id="messageName"
        data-show-footer="true">
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="messageName" data-sortable="true">Message Name</th>
                <th data-field="screens" data-sortable="true">Screens</th>
                <th data-field="template" data-sortable="true">Template</th>
                <th data-field="title" data-sortable="true">Title</th>
                <th data-field="visableFor" data-sortable="true">Visable For</th>
                <th data-field="visableInTimeFrames" data-sortable="true" data-formatter="timeFramesFormatter">Time
                    Frames</th>
                <th data-field="createdAt" data-sortable="true">Date Created</th>
                <th data-field="updatedAt" data-sortable="true">Date Updated</th>
                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Operate
                </th>
            </tr>
        </thead>
    </table>
</div>