
h2{
    text-align: center;
    color:#23527c;
    margin-top: 20px;
}

ul{
    margin-left: 10px;
}

#dashboard, #actions{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.toolbar > *{
    margin-left: 10px;
}

form .form-group {
    border: #CCCCCC 1px solid;
    border-radius: 4px;
    padding: 10px;  
}

form{
    background-color: white;
    padding: 10px;
    justify-content: center;
}
 